absl-py==2.1.0
alembic==1.13.1
asttokens==2.4.1
astunparse==1.6.3
bcrypt==4.1.2
blinker==1.7.0
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.3
colorama==0.4.5
comm==0.2.1
contourpy==1.2.0
cors==1.0.1
cryptography==42.0.5
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
distlib==0.3.8
dm-tree==0.1.8
et-xmlfile==1.1.0
executing==2.0.1
filelock==3.13.1
Flask==3.0.2
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.0
Flask-Mail==0.9.1
flask-marshmallow==1.2.1
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
fonttools==4.50.0
future==1.0.0
gast==0.5.4
gevent==24.2.1
google-pasta==0.2.0
greenlet==3.0.3
grpcio==1.62.1
h5py==3.11.0
idna==3.6
importlib-metadata==5.0.0
ipykernel==6.29.2
ipython==8.21.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.4.0
jupyter_client==8.6.0
jupyter_core==5.7.1
jwt==1.3.1
keras==3.2.1
kiwisolver==1.4.5
libclang==18.1.1
Mako==1.3.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.1
marshmallow==3.21.1
marshmallow-sqlalchemy==1.0.0
matplotlib==3.8.3
matplotlib-inline==0.1.6
mdurl==0.1.2
ml-dtypes==0.3.2
mysql-connector-python==8.0.31
mysqlclient==2.2.4
namex==0.0.7
nest-asyncio==1.6.0
numpy==1.26.0
openpyxl==3.1.2
opt-einsum==3.3.0
optree==0.11.0
packaging==24.0
pandas==2.2.2
parso==0.8.3
pillow==10.2.0
platformdirs==4.2.0
prompt-toolkit==3.0.43
protobuf==3.20.1
psutil==5.9.8
pure-eval==0.2.2
pycparser==2.21
Pygments==2.17.2
PyJWT==2.8.0
PyMySQL==1.1.0
pyparsing==3.1.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32==306
pyzmq==25.1.2
reportlab==4.1.0
requests==2.31.0
requests-file==2.0.0
rich==13.7.1
scikit-learn==1.4.2
scipy==1.13.0
setuptools==69.2.0
six==1.16.0
SQLAlchemy==2.0.29
stack-data==0.6.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
termcolor==2.4.0
threadpoolctl==3.4.0
tldextract==5.1.2
tornado==6.4
traitlets==5.14.1
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.25.0
virtualenvwrapper-win==1.2.7
wcwidth==0.2.13
Werkzeug==3.0.1
wheel==0.43.0
wrapt==1.16.0
zipp==3.10.0
zope.event==5.0
zope.interface==6.2
